.container#rows
  .row.art#main
    section.twelve.columns.last.center
      h3 &#1007; #{room}
        - ideas.forEach(function(idea){
          - idea = idea.value;
          - if (idea && idea.channel) {
            p!= idea.description
          - }
        - });
  .art.row#features 
    section.seven.columns.centered
      ul 
        - var elipsis = function(str){
          - if (str.charAt(200)!==' '){
            - var loop = 200
            - var elip = str.substring(0,200)
            - while (str.charAt(loop)) {
            -    if (str.charAt(loop)==' '){
            -      elip = str.substring(0,loop) + '...';
            -      break;
            -    }
            -   --loop;
            - }
            - return elip;
          - } else {
            -  return str.substring(0,200) + '...';
          - }
        - };
        - var loop = 1;
        - if (typeof ideas == 'object' && ideas.length >  0) {
          - ideas.forEach(function(idea){
            - idea = idea.value;
            - var STATE = idea.channel ? idea.channel : false;
            - if (!STATE && loop<11){
              li 
                h4 #{loop}. 
                  a(href="/#{room}/#{idea.url || ''}",title="#{idea.name}") #{idea.name}        
                p 
                  span #{elipsis(idea.description)}
                p 
                  span #{((new Date(idea['created_at'])).toGMTString() ).substr(0,17) }  
                  | By:
                  span #{idea.author.name}
                  span#votes
                    a(href="javascript:like(#{loop})",title="#{idea.up} Likes")
                      img(src="/assets/images/heart.png",width="15",class="like")  
                    a(href="javascript:dislike(#{loop})",title="#{idea.down} dislikes")
                      img(src="/assets/images/minus.png",width="15")
            - } else { loop = --loop}
            - ++loop; 
          - });
        - } else {
          li 
            h3 NOT_FOUND
        - }
    
  .art.row#comment
    section.five.columns.centered#form
      // YEAH I USE BRs all over the place #lazyweb
      img(src="/assets/images/loading.gif",class="off",id="loader")
      br
      h4#msg Add your awesome feature request 
      br
      form(action="/#{room}/new",method="POST",class="nice",id="idea")
        input(type="text",name="name",placeholder="name your idea",class="input-text",required)
        textarea(name="description",placeholder="tell us more about your idea",class="input-text",cols="30", rows="5",required)
        input(type="text",name="user[name]",placeholder="your name",class="input-text",required)
        input(type="text",name="user[email]", placeholder="your email (we won't store it) just for the avatar",class="input-text",required)

        input(type="hidden",name="user[from]",value="#{room}")
        input(type="submit",class="button black radius",value="add Idea",id="send")