.container#wrapper
  .row.art#main
    section.twelve.columns.last.center#title
      h3 &#1007; 
        a(href="/#{room}") #{room}
    section.nine.columns.last.centered#content
      h4#idea
        a(href="/#{room}/#{idea.url}") #{idea.name}
      hr
      #description!= idea.description
      hr
      p 
        span #{((new Date(idea['created_at'])).toGMTString() ).substr(0,17) }  
        | By:
        span #{idea.author.name}
        span#votes
          a(href="javascript:like(1)",title="#{idea.up} Likes")
            img(src="/assets/images/heart.png",width="15",class="like")  
          a(href="javascript:dislike(0)",title="#{idea.down} dislikes")
            img(src="/assets/images/minus.png",width="15")
    section.twelve.columns#disqus_thread
 
script(type="text/javascript")
  var disqus_shortname = 'ideasBox';
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
noscript Please enable JavaScript to view the comments 